<header  class="font-sans bg-dark text-white py-3 px-0 text-3xl z-10 h-24">
    <div class="container">
        <nav class="float-right">
            <a routerLink="/" class = "hover:bg-dark_gray">Home</a>
            <a routerLink="/brainet" class = "hover:bg-dark_gray">Brainet</a>
            <a routerLink="/tutorials" class = "hover:bg-dark_gray">Tutorials</a>
            <a routerLink="/about" class = "hover:bg-dark_gray">About</a>
            <a routerLink="/contact" class = "hover:bg-dark_gray">Contact</a>
            <a routerLink="/register" class = "hover:bg-accent_dark bg-accent">Register</a>
            <a routerLink="/login" class = "bg-dark_gray hover:bg-light_gray">Login</a>
        </nav>
    </div>
</header>
