header {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  height: 7vh;
  font-size: 20px;
}

.header-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #555;
}