header {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-size: 20px;
  z-index:2;
  height: 60px;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}

nav a:hover {
  background-color: #555;
}