<header  class="font-sans bg-wHeader dark:bg-dHeader px-0 z-10 h-24" header >
    <div>
        <p whitemind>WHITEMIND</p>
        <a routerLink="/" style="border-left: 0.1rem solid var(--accent); height: calc(1.7rem + 20px)">
            
            <img src="assets/pictures/home.png" alt="Home" style="height: 2.0rem; display: inline-block; position: relative;">
        </a>
        <a routerLink="/brainet">Brainet</a>
        <a routerLink="/tutorials" >Tutorials</a>
        <a routerLink="/about" >About</a>
        <a routerLink="/contact" >Contact</a>
        <a routerLink="/register">Sign Up</a>
        <a routerLink="/login" >Sign In</a>
    </div>
</header>
