div.footer {
    background-color: #333;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.copyright {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

