<section class="bg-home-light bg-no-repeat bg-cover dark:bg-home-dark h-screen flex">
  <div class="w-full text-center content-center items-center">
    <img src="assets/neurologism.ico" alt="Logo" class="w-1/6 m-auto">

    <h1 class="text-dark text-3xl m-auto dark:text-white">
      About Us
    </h1>
    <p class="text-dark text-3xl m-auto dark:text-white">
      We are a team of dedicated students working towards revolutionizing how deep learning is thaught.
    </p>
  </div>
</section>

<section class="bg-home-light bg-no-repeat bg-cover dark:bg-home-dark">

  <div class="container mx-auto mb-20">
    <div class="flex">
      <div class="w-1/2">
        <img src="assets/pictures/placeholder.png" alt="Logo" class="w-full">
      </div>
      <div class="w-1/2 text-dark dark:text-white">
        <h2 class="">Our Inspiration</h2>
        <p class="text-xl m-4">In today's fast-paced world, deep learning is everywhere—powering innovations and shaping industries. However, it remains a complex and abstract field, often difficult for many to grasp. At Whitemind, we are driven by the desire to make deep learning more accessible and understandable. Our mission is to pull back the curtain, visualizing the intricate processes beneath the hood and transforming how people learn about this powerful technology.</p>

        <h2 class="">Our Team</h2>
        <p class="text-xl m-4">Whitemind was kickstarted by two dedicated high school students from Germany, each bringing a unique blend of interdisciplinary knowledge and computer science expertise. Despite their young age, their passion for technology and education fuels our commitment to bridging the gap between deep learning’s complexity and its users.</p>
      </div>
    </div>
  </div>


  <div class="container mx-auto">
    <div class="flex">
      <div class="w-1/2 text-dark dark:text-white">
        <h2 class="">Our Vision</h2>
        <p class="text-xl m-4">We envision a world where deep learning is not just a tool for experts but an accessible resource for learners and educators alike. By simplifying the learning curve and providing intuitive, hands-on tools, we aim to empower more people to engage with and understand deep learning.</p>

        <h2 class="">Our Goals</h2>
        <p class="text-xl m-4">Our immediate focus is on delivering WhiteMind to our customers and observing how they interact with the platform. By understanding their experiences, we’re committed to refining and evolving WhiteMind, ensuring it meets the needs of its users while continuing to simplify and demystify deep learning.</p>
      </div>
      <div class="w-1/2">
        <img src="assets/pictures/placeholder.png" alt="Logo" class="w-full">
      </div>
    </div>
  </div>



</section>


<app-footer></app-footer>