<div class="bg-home-light bg-no-repeat bg-cover dark:bg-home-dark">

  <div class="container mx-auto flex text-center content-center items-center h-auto">
    <div class="w-full">


      <img src="assets/neurologism.ico" alt="Logo" class="w-1/3 m-auto">

      <h1 class="text-white text-3xl m-5">
        About Us
      </h1>
      <p class="text-white text-3xl m-4">
        We are a team of dedicated students working towards revolutionizing how deep learning is thaught.
      </p>

    </div>
  </div>
</div>

<div class="bg-home-light bg-no-repeat bg-cover dark:bg-home-dark">

  <div class="container mx-auto mb-20">
    <div class="flex">
      <div class="w-1/2">
        <img src="assets/pictures/placeholder.png" alt="Logo" class="w-full">
      </div>
      <div class="w-1/2">
        <h2 class="text-white">Our Inspiration</h2>
        <p class="text-white text-lg m-4">In today's fast-paced world, deep learning is everywhere—powering innovations and shaping industries. However, it remains a complex and abstract field, often difficult for many to grasp. At Whitemind, we are driven by the desire to make deep learning more accessible and understandable. Our mission is to pull back the curtain, visualizing the intricate processes beneath the hood and transforming how people learn about this powerful technology.</p>

        <h2 class="text-white">Our Team</h2>
        <p class="text-white text-lg m-4">WhiteMind was founded by two dedicated high school students from Germany, each bringing a unique blend of interdisciplinary knowledge and computer science expertise. Despite their young age, their passion for technology and education fuels our commitment to bridging the gap between deep learning’s complexity and its users.</p>
      </div>
    </div>
  </div>


  <div class="container mx-auto">
    <div class="flex">
      <div class="w-1/2">
        <h2 class="text-white">Our Vision</h2>
        <p class="text-white text-lg m-4">We envision a world where deep learning is not just a tool for experts but an accessible resource for learners and educators alike. By simplifying the learning curve and providing intuitive, hands-on tools, we aim to empower more people to engage with and understand deep learning.</p>

        <h2 class="text-white">Our Goals</h2>
        <p class="text-white text-lg m-4">Our immediate focus is on delivering WhiteMind to our customers and observing how they interact with the platform. By understanding their experiences, we’re committed to refining and evolving WhiteMind, ensuring it meets the needs of its users while continuing to simplify and demystify deep learning.</p>
      </div>
      <div class="w-1/2">
        <img src="assets/pictures/placeholder.png" alt="Logo" class="w-full">
      </div>
    </div>
  </div>



</div>


<app-footer></app-footer>