<app-header></app-header>

<section class = "px-0 py-14 bg-home-light dark:bg-home-dark bg-center">
    <div class="w-4/5 m-auto text-center text-dark dark:text-white">
        <h1 class="text-5xl">Got Interested?</h1>
    </div>
</section>
<section class = "px-0 py-12 bg-white dark:bg-black text-dark dark:text-white">
    <div class="w-4/5 m-auto">

        <h2 class ="text-4xl">Contact Us!</h2>

        <div class="flex">
            <div class = "flex-1 h-full">
                <div class="m-5 p-5 bg-light_gray dark:bg-dark">
                    <h3 class = "text-4xl">Whitemind</h3>
                    <p class = "text-xl">Whitemind is our intuitive web interface designed to simplify and enhance your interaction with Brainet, our deep learning framework focusing on simplicity and performance. With Whitemind, you can effortlessly build and experiment with deep learning models using a drag-and-drop approach, making complex model design accessible and engaging.</p>
                </div>
            </div>

            <div class = "flex-1 h-full">
                <div class="m-5 p-5 bg-light_gray dark:bg-dark">
                    <h3 class ="text-4xl">Brainet</h3>
                    <p class = "text-xl">Brainet is a deep learning framework, meticulously designed to meet the educational needs of college students and aspiring data scientists. Unlike many complex frameworks in the industry, Brainet is written entirely in C++, offering you an unparalleled opportunity to delve deep into the core mechanics of deep learning models at your own pace.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<app-footer></app-footer>
<router-outlet></router-outlet>