<app-header></app-header>


<div class="ui w-full absolute bg-transparent text-dark dark:text-white" (mousemove)="MouseMove($event)"><!-- check cdk drop list group-->
  
  <div vertical-bar class = "absolute left-0 bg-gray dark:bg-dark_gray h-full"></div>

    <div box *ngFor="let box of workspace.values()" class = "flex bg-white text-dark dark:bg-dark dark:text-white border-border dark:border-dark border" cdkDrag cdkDragBoundary=".ui" (cdkDragStarted)="dragStart($event, box)" (cdkDragMoved)="dragMoved($event, box)" (cdkDragEnded)="dragEnd($event, box)" [cdkDragFreeDragPosition]="box.position" [ngStyle]="{'z-index': box.zIndex}">
    
      <div arrow-handle *ngFor="let handle of box.handles" (click)="drawConnectionArrow(handle, box)" [ngStyle]="{'left':handle.left + 'px', 'top': handle.top + 'px', 'background-color':handle.color}"></div>
    
      <p>{{box.message}}</p>
    
    </div>
</div>

<canvas #canvas class = "canvas absolute w-full z-0 bg-transparent" (mousemove)="MouseMove($event)" (click) = abortConnectionArrow()>Canvas not properly loaded</canvas>

<div bg class="z-0 w-screen bg-light_gray dark:bg-gray"></div>


