<div class="ui" (mousemove)="MouseMove($event)"><!-- check cdk drop list group-->
  
  <div vertical-bar></div>

    <div box *ngFor="let box of this.workspace.entries()" cdkDrag cdkDragBoundary=".ui" (cdkDragStarted)="dragStart($event, box[1])" (cdkDragMoved)="dragMoved($event, box[1])" (cdkDragEnded)="dragEnd($event, box[1])" [cdkDragFreeDragPosition]="box[1].position" [ngStyle]="{'z-index': box[1].zIndex}">
    
      <div arrow-handle *ngFor="let handle of box[1].handles" (click)="drawConnectionArrow(handle, box[1])" [ngStyle]="{'left':handle.left + 'px', 'top': handle.top + 'px', 'background-color':handle.color}"></div>
    
      <p>{{box[1].message}} index: {{box[1].id}}</p>
    
    </div>
</div>

<canvas #canvas class = "canvas" (mousemove)="MouseMove($event)" (click) = abortConnectionArrow()>Canvas not properly loaded</canvas>


