
.ui {
  font-family: Arial, sans-serif;
  height:calc(100% - 60px);
}

[bg] {
  height: calc(100vh - 60px);
}

[vertical-bar] {
  width: 170px;
}

.canvas {
  height: calc(100% - 60px);
}

[box]{
  font-size: 18px;
  width: 10px;
  height: 10px;
  border-radius: 4px;
  position: absolute;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

[box]:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


p {
  position: absolute;
  
  left: 35px;
  right: 35px;


  padding: 10px;
}

input {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
  color: #333;
}

button {
  position: absolute;
  font-size: 15px;
  bottom: 0;
  width: 50px;
  left: 50px;
  bottom: 10px;
}

[arrow-handle] {
  position: absolute;
  box-sizing: border-box;

  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 5px;

  cursor: pointer;

}







::ng-deep .mat-menu-panel {
  background-color: #333; /* Background color of the menu */
  color: #fff; /* Text color */
  border-radius: 8px; /* Rounded corners */
  min-width: fit-content; /* Minimum width */
  min-height: fit-content; /* Minimum height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Drop shadow */
}
