.mdown {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    font-size: 12px;
}

.mdown p,
.mdown .splendor-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

.mdown h1,
.mdown .splendor-h1,
.mdown h2,
.mdown .splendor-h2,
.mdown h3,
.mdown .splendor-h3,
.mdown h4,
.mdown .splendor-h4 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
}

.mdown h1,
.mdown .splendor-h1 {
    margin-top: 0;
    font-size: 3.998rem;
}

.mdown h2,
.mdown .splendor-h2 {
    font-size: 2.827rem;
}

.mdown h3,
.mdown .splendor-h3 {
    font-size: 1.999rem;
}

.mdown h4,
.mdown .splendor-h4 {
    font-size: 1.414rem;
}

.mdown h5,
.mdown .splendor-h5 {
    font-size: 1.121rem;
}

.mdown h6,
.mdown .splendor-h6 {
    font-size: .88rem;
}

.mdown small,
.mdown .splendor-small {
    font-size: .707em;
}

.mdown img,
.mdown canvas,
.mdown iframe,
.mdown video,
.mdown svg,
.mdown select,
.mdown textarea {
    max-width: 100%;
}

.mdown html {
    font-size: 18px;
    max-width: 100%;
}

.mdown body {
    color: #444;
    font-family: 'Merriweather', Georgia, serif;
    margin: 0;
    max-width: 100%;
}

.mdown p,
.mdown *:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p) {
    margin: 1rem auto 1rem;
    max-width: 36rem;
    padding: .25rem;
}

.mdown div {
    width: 100%;
}

.mdown div img {
    width: 100%;
}

.mdown blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 1rem;
    max-width: 48rem;
}

.mdown li {
    margin-left: 2rem;
}

.mdown h1 {
    padding: 4rem 0 !important;
}

.mdown p {
    color: #555;
    height: auto;
    line-height: 1.45;
}

.mdown pre,
.mdown code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.mdown pre {
    background-color: #fafafa;
    font-size: .8rem;
    overflow-x: scroll;
    padding: 1.125em;
}

.mdown a,
.mdown a:visited {
    color: #3498db;
}

.mdown a:hover,
.mdown a:focus,
.mdown a:active {
    color: #2980b9;
}