<div class="absolute w-1/6 bg-gray-200 dark:bg-gray-800 p-4 bg-accent text-dark dark:text-white" style="height: calc(100% - 60px)">
  <ul>
    <li><a class = "text-dark dark:text-white text-xl" href="#">Tutorial 1</a></li>
    <li><a class = "text-dark dark:text-white text-xl" href="#">Tutorial 2</a></li>
    <li><a class = "text-dark dark:text-white text-xl" href="#">Tutorial 3</a></li>
  </ul>
</div>

<div class="absolute right-0 bg-light_gray dark:bg-dark_gray overflow-scroll" style="left: 16.6666666%; height: calc(100% - 60px)">
  <app-tutorial-md></app-tutorial-md>
</div>