<section id="home">
    <div class="container">
        <h1>Whitemind.</h1>
        <p>Framework for building neural networks. No Programming knowledge required.
        </p>
        <a routerLink = "/tutorials" class="btn">Get Started</a>
    </div>
</section>
<section id="about">
    <div class="container">
        <h2>About Us</h2>
        <p>Whitemind is a framework for building neural networks from Scratch. It is designed to be easy to use and requires no programming knowledge.</p>
        <a routerLink = "/tutorials" class="btn">Check it out!</a>
    </div>
</section>
<section id="services">
    <div class="container">
        <h2>Our Services</h2>
        <div class="service">
            <h3>Service One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
        </div>
        <div class="service">
            <h3>Service Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
        </div>
        <div class="service">
            <h3>Service Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
        </div>
    </div>
</section>