<section id = "home" class = "sans">
    <div class="container">
        <h1 class = "text-white text-4xl m-5">Whitemind.</h1>
        <p class = "text-white text-4xl m-4">Framework for building neural networks. No Programming knowledge required.
        </p>
        <a routerLink = "/tutorials" class="text-white text-2xl px-3 py-5 inline-block m-5  bg-accent hover:bg-accent_dark rounded-lg">Get Started</a>
    </div>
</section>
<section id="about" class = "px-0 py-14 bg-light_gray">
    <div class="w-full m-auto text-center">
        <h2 class="text-4xl">About Us</h2>
        <p class="text-xl">Whitemind is a framework for building neural networks from Scratch. It is designed to be easy to use and requires no programming knowledge.</p>
        <a routerLink = "/tutorials" class="text-white text-2xl px-3 py-5 inline-block m-5 rounded-lg  bg-accent hover:bg-accent_dark">Check it out!</a>
    </div>
</section>
<section class = "px-0 py-12">
    <div class="w-4/5 m-auto">
        <h2>Our Services</h2>
        <div class="service">
            <h3>Service One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
        </div>
        <div class="service">
            <h3>Service Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
        </div>
        <div class="service">
            <h3>Service Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.</p>
        </div>
    </div>
</section>

<app-footer></app-footer>