#home {
    background: url('/assets/pictures/home_background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.service h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service p {
    font-size: 1.2em;
}