<app-header />

<div class = "home">
    <div class = "Intro">
        <h1>Whitemind.</h1>
        <h2> 
            Framework for building neural networks. No Programming knowledge required.
        </h2>
        <div class = "buttons">
            <button routerLink = "/tutorials">Get Started</button>
    </div>
    <div class = "about">
        <h2>What is Whitemind?</h2>
        <p>Whitemind is a framework for building neural networks from Scratch. It is designed to be easy to use and requires no programming knowledge.</p>
        <button routerLink = "">Check it out!</button>
    </div>


    <ul>
        <li><a routerLink = "/brainet">Check out Whitemind</a></li>
      <li><a routerLink = "/tutorials">Tutorials</a></li>
      <li><a routerLink = "/about">About</a></li>
      <li><a routerLink = "/contact">Contact</a></li>
    </ul>
  </div>

  <app-footer />
  <router-outlet />